/* 1025px ~ 1300px */
@media screen and (max-width:1300px){
    #footer .info_logo { margin-right: 20px; } 
    #footer .info_txt { width: calc(75% - 80px); margin-top: 15px; } 

    .main_board .board_box { padding: 2.3vw; } 
    .main_board .board_list li { padding: 1.5vw 0; } 
    .main_board .board_list .title { font-size: 1.5rem; } 

    .reg_guide.engSt .reg_guide_box .txt p .download {display: block; margin-left: 0; margin-top: 5px; max-width: 170px; text-align: center;}
}

/* 769px ~ 1024px */
@media screen and (max-width:1024px){
    #container { padding-top: 60px; } 

    .board_list_box li > div {font-size: 1.4rem; line-height: 2rem;}

    /* padding · margin style*/
    .padding_tb { padding: 90px 0; } 
    .padding_t { padding-top: 90px; } 
    .padding_b { padding-bottom: 90px; } 

    #header .hd_nav { display: none; } 
    #header .hd_top_inner { height: 60px; } 
    #header .hd_top_right .language { display: none; } 
    #header .hd_logo img { height: 40px; } 

    .side_bg { position: fixed; } 
    .side_bg.on { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.8); z-index: 997; } 

    .side_menu.m_menu { display: block !important; margin-left: 20px; } 
    .side_menu_close { top: 50%; transform: translateY(-50%); } 

    .hd_site_map {
        width: 400px; z-index: 999; left: unset; transform: unset; right: -400px; top: 0;
        height: 100vh; padding: 0 30px 30px; transition: .5s all; } 
    .hd_site_map.on { right: 0; top: 0; } 

    .side_top_box { height: 60px; padding-bottom: 0; margin: 0; display: flex; } 
    .side_top_box .side_top_txt { display: none; } 
    .side_top_box .language { font-size: 1.4rem; color: #666; display: flex; align-items: center; } 
    .side_top_box .language.kor:after { display: block; content: ""; width: 4px; height: 4px; background-color: #777; margin: 0 8px; } 

    .site_map_nav .dept1 { display: block; } 
    .site_map_nav .dept1>li { margin: 0; } 
    .site_map_nav .dept1>li>a { pointer-events: none; color: #111; font-size: 2.4rem; padding: 15px 0; font-weight: 500; } 
    .site_map_nav .dept2 { display: none; border-top: 1px solid #003C81; padding: 10px 5px; } 
    .site_map_nav .dept2>li { margin: 15px 0; font-size: 1.6rem; } 

    .main_tit { margin-bottom: 15px; } 
    .main_board .board_list li { padding: 1.4vw 0; } 
    .main_board .board_list .title { font-size: 1.4rem; } 
    .main_board .board_list .date { font-size: 1.2rem; } 

    .sub_bd_tit {flex-direction: column;}
    .sub_bd_tit .box:nth-child(2) {margin-left: 0; margin-top: 20px;}

    .gt_intro_box { flex-direction: column; } 
    .gt_intro_box .box_l,
    .gt_intro_box .box_r { width: 100%; } 
    .gt_intro_box .box_r { margin-top: 30px; } 
    .gt_intro_box .box_r .txt_box,
    .gt_intro_box .box_r .name_box { margin-left: 0; } 

    .hist_box .box .list p {font-size: 1.4rem; line-height: 1.8rem;}
    
    .vs_value_box li {height: 300px;}
    .vs_value_box li .box {padding:20px;}
    .vs_value_box li .box .icon img {width: 60px;}
    .vs_value_box li .box .txt .big {font-size: 2rem; line-height: 2.6rem;}
    .vs_value_box li .box .txt .small {font-size: 1.4rem; line-height: 2rem;}
    .vs_value_box li .boxOn {padding: 20px;}
    .vs_value_box li .boxOn .txt {font-size: 1.4rem; line-height: 2rem;}

    .biz_list_box li {width: 49%;}
    .biz_list_box li:nth-child(3n) {margin-right: 2%;}
    .biz_list_box li:nth-child(2n) {margin-right: 0;}

    .member_list.guide4 li {width: 49%; margin-right: 2%;}
    .member_list.guide4 li:nth-child(2n) {margin-right: 0;}

    .member_list.guide5 li {width: 23.5%;}
    .member_list.guide5 li:nth-child(5n) {margin-right: 2%;}
    .member_list.guide5 li:nth-child(4n) {margin-right: 0;}

    .sp_cate_icon li .icon {width: 60px; height: 60px;}
    .sp_cate_icon li .txt {font-size: 1.4rem; line-height: 1.8rem;}

    .sp_list_box .tit {width: 38%;}
    .sp_list_box .date {width: 15%;}

    .bnf_top_box .tit .big {font-size: 3rem; line-height: 3.8rem;}
    .bnf_top_box .tit .small {font-size: 1.6rem; line-height: 2.2rem;}

    .bnf_top_box {padding: 70px 30px 50px}
    .bnf_top_box .cont {margin-top: 30px;}
    .bnf_top_box .cont li .box .number {font-size: 2rem;}
    .bnf_top_box .cont li .box .txt {font-size: 1.4rem; line-height:1.8rem;}
    

}

/* 481px ~ 768px */
@media screen and (max-width:768px) {

    .swiper-button-next, .swiper-button-prev {width: 35px; height: 35px;}
    .swiper-button-next:after, .swiper-button-prev:after {font-size: 20px;}

    .search_box select, .search_box input {font-size: 1.4rem; line-height: 1.8rem;}

    .board_list_box .number {width: 55px;}
    .board_list_box .date {width: 90px;}
    .board_list_box .tit {width: calc(100% - 145px);}
    .board_list_box li > div {font-size: 1.3rem; line-height: 1.7rem; padding:15px 5px;}

    .board_gallery_box li {width: 48%; margin-right: 4%;}
    .board_gallery_box li:nth-child(3n) {margin-right: 4%;}
    .board_gallery_box li:nth-child(2n) {margin-right: 0%;}
    .board_gallery_box li .tit {font-size: 1.4rem; line-height: 1.9rem;}
    .board_gallery_box li .date {font-size: 1.2rem;}
    .popGallery .pop_box .txt_box {font-size: 1.4rem; line-height: 1.9rem; padding: 15px;}
    .popGallery .swiper-button-next,
    .popGallery .swiper-button-prev {top: 48%;}

    .board_view_top .tit {font-size: 1.8rem; line-height: 2.4rem;}
    .board_view_info_box .gubun {width: 110px;}
    .board_view_info_box .txt {width: calc(100% - 110px)}
    .board_view_info_box .gubun, .board_view_info_box .txt {font-size: 1.4rem; line-height: 1.8rem; padding: 15px 10px;}


    .board_faq .box .ask {font-size: 1.4rem; line-height: 1.9rem;}
    .board_faq .box li>div {padding:20px 50px;}
    .board_faq .box li>div:before {font-size: 1.8rem; top: 20px;}
    .board_faq .box .ask:after {width: 7px; height: 7px; top: 23px;}
    .board_faq .box .ask.on:after {top: 28px;}

    .paging {margin-top: 20px;}
    .paging ol li a {font-size: 1.4rem; width: 35px; height: 35px; line-height: 35px;}

    .table_box th, .table_box td {font-size: 1.4rem; line-height: 2rem;}
    .table_box .cmnt {font-size: 1.4rem; line-height: 2rem;}

    #footer .info_logo { width: 100%; margin-right: 0; } 
    #footer .info_txt { width: 100%; margin-top: 30px; } 

    .main_container .inner { display: block; } 
    .main_slide { width: 100%; } 

    .main_board { display: block; width: 100%; } 
    .main_board .board_box { margin-top: 20px; padding: 20px; } 
    .main_board .board_list li { padding: 15px 0; } 
    .main_company { padding: 20px; } 

    .sub_top { height: 255px; } 
    .sub_top_txt { height: 200px; } 
    .sub_top_tit { font-size: 4rem; } 

    .sub_top_tab { width: 100%; position: relative; cursor: pointer; display: flex; align-items: center; background: #fff; } 
    .sub_top_tab:after { display: block; content: ""; width: 7px; height: 7px; border-top: 2px solid #003C81; border-right: 2px solid #003C81; position: absolute; right: 20px; top: 47%; transform: translateY(-50%) rotate(135deg); } 
    .sub_top_tab .tabOptAct { font-weight: 700; display: flex; justify-content: center; align-items: center; background: #fff; width: 100%; color: #003C81; height: 100%; border-bottom: 1px solid #ddd; } 
    .sub_top_tab .tabOptSel { position: absolute; top: 100%; left: 0; width: 100%; display: none; background: #f8f8f8; z-index: 1; height: auto; border-radius: 0; } 
    .sub_top_tab .tabOptSel li { background: #f8f8f8; border-right: none; border-bottom: 1px solid #ddd; } 
    .sub_top_tab .tabOptSel li a { display: flex; align-items: center; justify-content: center; padding: 0 10px; color: #666; height: 55px; } 
    .sub_top_tab .tabOptSel li.active { background: #003C81; } 
    .sub_top_tab .tabOptSel li.active a { color: #fff; } 
    .sub_top_tab .tabOptSel li a:hover { background: #003C81; color: #fff; transition: all .3s; } 

    .sub_bd_tit
    .sub_bd_tit .cateName { font-size: 1.8rem; } 
    .sub_bd_tit .big { font-size: 3.2rem; line-height: 4rem; } 
    .sub_bd_tit .small { font-size: 1.4rem; line-height: 2rem; } 
    .sub_bd_tit .small br {display: none;}

    .sub_bd_tit_m {font-size: 2.2rem;}

    .gt_top.engSt .sub_bd_tit br {display: none;}
    .gt_ceo_img { margin: 30px 0; } 
    .gt_intro_box .box_l { font-size: 1.8rem; line-height: 2.4rem; } 
    .gt_intro_box .box_r .txt_box,
    .gt_intro_box .box_r .name_box { font-size: 1.4rem; line-height: 2rem; } 

    .hist_box {margin-left: 10px;}
    .hist_box .box {width: 100%; padding-top: 30px;}
    .hist_box .box:after {height: calc(100% + 43px);}
    .hist_box .box:first-child {padding-top: 0;}
    .hist_box .box:nth-child(odd) {margin-right: 0; text-align: left; padding-left: 80px; padding-right: 0;}
    .hist_box .box:nth-child(even) {margin-left: 0;}
    .hist_box .box:nth-child(odd):after {right:unset; left: 0;}
    .hist_box .box:nth-child(odd) .year .line {right: unset; left: -80px;}
    .hist_box .box:nth-child(odd) .year .line span {right: unset; left: -10px;}
    .hist_box .box:nth-child(odd) .list li {padding-right: 0; padding-left: 32px;}
    .hist_box .box:nth-child(odd) .list .month {right: unset; left: 0;}

    .vs_img {margin-top: 30px;}
    .vs_img .img_box {height: 150px; position: relative;}
    .vs_img div img {
        height: 100%; position: absolute; width:auto; max-width: unset;
        top: 50%; left: 50%; transform: translate(-50%,-50%);
    }

    .vs_value_box {flex-direction: column;}
    .vs_value_box li {width: 100%; margin-bottom: 20px; margin-right: 0; height: auto;}
    .vs_value_box li:last-child {margin-bottom: 0;}
    .vs_value_box li .box .txt {margin-top: 20px;}

    .vs_mission_box {flex-direction: column;}
    .vs_mission_box .img {order: 2; text-align: center; margin-top: 30px;}
    .vs_mission_box .txt {order: 1; margin-left: 0;}
    .vs_mission_box .txt .big { font-size: 3.2rem; line-height: 4rem; } 
    .vs_mission_box .txt .small { font-size: 1.4rem; line-height: 2rem; } 
    .vs_mission_box .txt br {display: none;}

    .way_map .kakao_map {margin: 30px 0;}
    .way_map .way_info p {font-size: 1.4rem; line-height: 2rem; padding-left: 90px;}

    .biz_img {margin: 30px 0;}
    .biz_img .m_img {display: block;}
    .biz_img .pc_img {display: none;}
    .biz_list_box li {width: 100%; margin-right: 0 !important;}

    .member_list.guide4 li {width: 48%; margin-right: 4%;}

    .member_list.guide5 li {width: 48%; margin-right: 4%;}
    .member_list.guide5 li:nth-child(5n) {margin-right: 4%;}
    .member_list.guide5 li:nth-child(2n) {margin-right: 0;}

    .member_dt_top {padding-bottom: 70px;}
    .member_dt_top .name_box {font-size: 3.2rem; line-height: 4rem; text-align: center}
    .member_dt_top .info_box {flex-direction: column; align-items: center; margin-top: 30px;}
    .member_dt_top .info_box .img {width: 100%; max-width: 400px; margin-right: 0; margin-bottom: 30px;}
    .member_dt_top .info_box .info {width: 100%;}
    .member_dt_box {padding: 70px 0;}
    .member_dt_box .title_box span {font-size: 2.8rem; padding-bottom: 10px;}
    .member_dt_box .cont_box {margin-top: 30px;}
    .member_dt_btn {padding-top: 30px;}

    .sp_cate_icon {flex-wrap: wrap;}
    .sp_cate_icon li {width: 25%;}
    .sp_cate_icon li:nth-child(-n+4){ margin-bottom: 20px;}

    .sp_cate_list {flex-wrap: wrap; margin-top: 20px;}
    .sp_cate_list li {font-size: 1.4rem; width: 50%; padding: 20px 0;}

    .sp_list_box .thead {display: none;}
    .sp_list_box .tbody {border-top: 2px solid #003C81; display: block;}
    .sp_list_box li {display: block; padding: 20px 0; border-bottom: 1px solid #ddd;}
    .sp_list_box li > div {
        display: block; border-bottom: 0; width: auto !important; padding: 0; text-align: left; color: #444; margin: 2px 0;
    }

    .sp_list_box .number {color: #111;}
    .sp_list_box .cate {color: #003C81; font-weight: 700;}
    .sp_list_box .tit {font-size: 1.8rem; line-height: 2.4rem; margin-bottom: 20px; font-weight: 700; color: #111;}
    .sp_list_box .period span {display: inline-block; margin-right: 3px;}
    .sp_list_box li > div::before {display: inline-block; margin-right: 8px; font-weight: 700;}    
    .sp_list_box .period::before {content: "신청기간"}
    .sp_list_box .agency::before {content: "사업수행기관"}
    .sp_list_box .pub::before {content: "발행처"}
    .sp_list_box .date::before {content: "등록일"}


    .reg_proc {margin-top: 30px;}
    .reg_proc_box li {width: 100%; margin-right: 0;}

    .reg_guide_box .number {font-size: 2.2rem;}
    .reg_guide_box .tit {font-size: 1.8rem;}
    .reg_guide_box .txt p {font-size: 1.4rem; line-height: 2rem;}
    .reg_guide_box {flex-direction: column;}
    .reg_guide_box .box {width: 100%; margin-bottom: 20px;}

    .bnf_top_box {background-size: 200%; padding:50px 30px 30px;}
    .bnf_top_box .cont {flex-direction: column;}
    .bnf_top_box .cont li {max-width: unset; width: 100%; margin: 0 0 20px; position: unset; border-radius: 15px;}
    .bnf_top_box .cont li:after {display: none;}
    .bnf_top_box .cont li .box {position: unset; transform: unset;}

    .benefit_list {margin-top: 30px;}
    .bnf_list_box .txt .big {font-size: 1.8rem; line-height: 2.4rem;}
    .bnf_list_box .txt .small {font-size: 1.4rem; line-height: 1.9rem;}

    .ct_top_box {padding: 40px 20px;}
    .ct_top_box .tit {font-size: 2.8rem;}
    .ct_top_box .txt {font-size: 1.4rem; line-height: 2rem; margin-top: 15px;}
    .ct_top_box .email {font-size: 1.4rem; margin-top: 15px;}

    .ct_info_box {flex-direction: column;}
    .ct_info_box .box {padding: 30px 0 0;}
    .ct_info_box .box:last-child {border-left: 0;}
    .ct_info_box .icon {width: 70px; margin: 0 auto;}
    .ct_info_box .box .txt .big {font-size: 1.8rem;}
    .ct_info_box .box .txt .small {font-size: 1.4rem; line-height: 1.9rem;}

    .ct_input_box li.w50 {width: 100%;}
    .ct_input_btn {padding-top: 30px;}

    .cal_list_box .location {width: 100px;}
    .cal_list_box .start {width: 100px;}
    .cal_list_box .end {width: 100px;}

    .calendar_list .search_date select,
    .calendar_list .search_date button {font-size: 1.4rem;}

    .cal_list_box .thead {display: none;}
    .cal_list_box .tbody {border-top: 2px solid #003C81;}
    .cal_list_box ul {display: block;}
    .cal_list_box li {display: block; border-bottom: 1px solid #ddd; padding: 20px 0;}
    .cal_list_box li > div {display: block; border-bottom: none; width: auto !important; text-align: left;  margin: 2px 0; padding: 0;} 
    .cal_list_box .tit { text-align: left !important; font-size: 1.8rem; line-height: 2.4rem; margin-bottom: 20px; font-weight: 700;}
    .cal_list_box li > div::before {display: inline-block; margin-right: 8px; font-weight: 700;}
    .cal_list_box .location::before {content: "장소"}
    .cal_list_box .start::before {content: "시작일"}
    .cal_list_box .end::before {content: "종료일"}

}

/* ~ 480px */
@media screen and (max-width:480px) {
    .btnSt01 {font-size: 1.4rem; max-width: unset;}

    .board_list_box {margin-top: 30px;}
    .board_view_cont {padding: 30px 0;}


    .search_box {flex-wrap: wrap}
    .search_box select {width: 100%; margin-right: 0; margin-bottom: 10px;}

    /* padding · margin style*/
    .padding_tb { padding: 70px 0; } 
    .padding_t { padding-top: 70px; } 
    .padding_b { padding-bottom: 70px; } 

    #header .hd_top_right a { font-size: 1.2rem; } 
    #header .hd_logo img { height: 30px; } 

    .side_menu.m_menu { margin-left: 15px; } 
    .hd_site_map { width: 80%; padding: 0; } 
    .side_top_box { width: 90%; margin: 0 auto; } 
    .site_map_box { width: 90%; margin: 0 auto; } 
    .site_map_nav .dept1>li>a { font-size: 1.8rem; } 

    #footer .info_logo img { max-width: 180px; } 
    #footer .info_txt .txt { font-size: 1.4rem; line-height: 2rem; } 
    #footer .info_txt .copy { font-size: 1.2rem; line-height: 1.6rem; } 

    .sub_top { height: 225px; } 
    .sub_top_txt { height: 170px; } 
    .sub_top_nav { font-size: 1.2rem; } 
    .sub_top_nav span:after { width: 5px; height: 5px; } 
    .sub_top_nav span img { width: 13px; } 
    .sub_top_tit { font-size: 3rem; } 

    .sub_bd_tit .cateName { font-size: 1.6rem; margin-bottom: 15px; } 
    .sub_bd_tit .big { font-size: 2.2rem; line-height: 3rem; } 

    .sub_bd_tit_m {font-size: 2rem;}

    .board_view_btn {padding-top: 30px; }
    .board_view_btn a {font-size: 1.4rem; padding: 12px; width: 120px;}

    .gt_intro_box .box_r .name_box .sign {display: block; margin-left: 0; margin-top: 10px;}

    .hist_box .box {padding-left: 50px !important;}
    .hist_box .box .year .line {left: -50px !important; width: 30px;}
    .hist_box .box .list li {padding-left: 25px !important;}

    .way_map .way_info p {padding-left: 0;}
    .way_map .way_info p span {position: unset; display: block;}

    .biz_list_box li {font-size: 1.4rem; line-height: 2rem; padding: 20px;}

    .member_list .name {font-size: 1.4rem; line-height: 1.8rem;}
    .member_list .info p {font-size: 1.2rem; margin-top:6px;}

    .member_dt_top {padding-bottom: 50px;}
    .member_dt_top .name_box {font-size: 2.2rem; line-height: 3rem;}
    .member_dt_top .info_box .info {display: block;}
    .member_dt_top .info_box .info li {display: block; border-bottom: 1px solid #ddd;}
    .member_dt_top .info_box .info li > div {display:block; font-size: 1.4rem; line-height: 2rem; border-bottom: 0;}
    .member_dt_top .info_box .info .gubun {padding: 15px 0px 5px 0;}
    .member_dt_top .info_box .info .cont {padding: 0px 0px 15px 0;}
    .member_dt_box {padding: 50px 0;}
    .member_dt_box .title_box span {font-size: 2rem;}

    .sp_cate_icon {margin-top: 30px;}
    .sp_cate_icon li .icon {width: 50px; height: 50px;}
    .sp_cate_icon li .txt {margin-top: 5px;}
    .sp_cate_icon li .txt .count {display: block; font-size: 1.2rem;}

    
    .reg_fee_box th, .reg_fee_box td {font-size: 1.3rem; line-height: 1.8rem; word-break: break-all;}
    .reg_fee_box .cmnt {font-size: 1.3rem; line-height: 1.8rem;}
    .reg_fee_box col:nth-child(2),
    .reg_fee_box col:nth-child(3){width: 30%;}

    .reg_inquiry_box .big {font-size: 2rem;}
    .reg_inquiry_box .small p {margin:3px;}

    .bnf_top_box {background-size: 400%;}
    .bnf_top_box .tit .big {font-size: 2.4rem; line-height: 3rem;}
}